
.map-container{
    height: 600px;
  }
  

  .continent-marker{
    
    background-image: url("../Assets/continent-marker.svg");
    background-size: cover;
    
    width: 12px;
    height: 15px;
    border-radius: 50%;
    /* cursor: pointer; */
  }


  .villas-marker{
    background-image: url("../Assets/country-marker.svg");
    background-size: cover;
    /* border: 0.2px solid black; */
    width: 12px;
    height: 15px;
    border-radius: 50%;
    /* cursor: pointer; */
  }

  



.mapboxgl-ctrl-group {
  display: inline-block;
  vertical-align: middle;
}

.mapboxgl-ctrl-icon {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center center;
  cursor: pointer;
}

.mapboxgl-ctrl-restart {
  background-image: url(../Assets/Earth-icon.png.png); /* Replace with your restart icon */
}
